main {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  flex: 300px 1;
  margin: 0.5em;
  position: relative;
  background: black;
  border-radius: 20px;
}
.gallery img {
  width: 100%;
  border-radius: 20px;
  display: block;
  transition: all 1.5s ease-out;
}
.text {
  color: grey;
  background-color: white;
  padding: 0.25em;
  border-radius: 5px;
  font-size: x-large;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
}
.gallery img:hover {
  opacity: 0;
}
.gallery:hover .text {
  opacity: 1;
}
